@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Joel Hilton's Films</p>
    <img src="~/lib/JoelHilton.jpg" />
    <a asp-action="AddMovies">Click here to add a movie!</a>
</div>
